
<div class="container">
<ul class="list-group">
<% @users.each do |user| %>

  
    <li class="list-group-item" > <%= user.name %>
    
    <%= link_to "add friend" , friendships_path(sent_by_id: current_user.id, sent_to_id: user.id),method: :post %>
    
    </li>
  
  <% end %>
</ul>
</div>